@font-face {
  font-family: 'Tetris';
  font-style: normal;
  font-weight: normal;
  src: local('./assets/fonts/tetris.woff'), url('./assets/fonts/tetris.woff') format('woff');
}

html {
  font-size: 16px;
  background-color: #000;
  margin: 0;
  padding: 0;
}

* {
  font-family: Tetris, sans-serif;
  box-sizing: border-box;
}

@media screen and (max-width: 1200px) {
  html {
    font-size: 14px;
  }
}

@media screen and (max-width: 900px) {
  html {
    font-size: 12px;
  }
}

@media screen and (max-width: 756px) {
  html {
    font-size: 10px;
  }
}

@media screen and (max-width: 596px) {
  html {
    font-size: 7px;
  }
}

@media screen and (max-width: 450px) {
  html {
    font-size: 5px;
  }
}
