@font-face {
  font-family: 'Tetris';
  font-style: normal;
  font-weight: normal;
  src: local('./assets/fonts/tetris.woff'), url('./assets/fonts/tetris.woff') format('woff');
}

html {
  font-size: 16px;
  background-color: #000;
  margin: 0;
  padding: 0;
}

* {
  font-family: Tetris, sans-serif;
  box-sizing: border-box;
}
